/* Estilos generales */


.conte h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: auto;
    margin-left: auto;
    margin-right: auto;    
    border-bottom: solid 3px #ddb892;
}
.conte{
    color: #ddb892;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 40px;
    background-color: #9c6644;
    border: 3px solid #724a32;
    border-radius: 20px;
}

.contenedor {
    background: transparent;
    backdrop-filter: blur;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 40px;
    border-radius: 20px;
}

.cont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    padding: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
    font-size: 25px;
}


table, th, td {
    color: #ddb892;
    border-bottom:none;
    padding: 10px;
    text-align: center;
}

th {
    width: auto; /* Asegúrate de que el ancho sea automático */
    padding: 8px; /* Ajusta el padding según lo que necesites */
    text-align: center; /* Alinea el texto al centro */
}

.cantidad {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cantidad-button, .cantidad-button2 {
    background-color: #ddb892;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-bottom: 2px solid #3e2307;
    border-top: 2px solid #3e2307;
}

.cantidad-button {
    border-left: 2px solid #3e2307;
}

.cantidad-button2 {
    border-right: 2px solid #3e2307;
}

.cantidad-input {
    background-color: #ddb892;
    border: none;
    height: 40px;
    width: 60px;
    text-align: center;
    font-size: 20px;
    color: #694731;
    border-top: 2px solid #3e2307;
    border-bottom: 2px solid #3e2307;
}

.cantidad-button svg, .cantidad-button2 svg {
    color: #9c6644;
}

.cssbuttons-io-button {
    align-items: center;
    font-family: inherit;
    font-weight: 600;
    font-size: 12px;
    padding: 0.7em 1.4em 0.7em 1.1em;
    color: white;
    background: #824e32;
    border: none;
    letter-spacing: 0.05em;
    border-radius: 20em;
}

.cssbuttons-io-button svg {
    margin-right: 6px;
}

.cssbuttons-io-button:hover {
    box-shadow: 0 0.5em 1.5em -0.5em #3e2307;
}

.cssbuttons-io-button:active {
    box-shadow: 0 0.3em 1em -0.5em #3e2307;
}

/* Estilos responsivos para pantallas menores a 1000px */
@media (max-width: 576px)  {
    body{
        background-color: chartreuse;
    }
    .conte {
        margin-bottom: 10%;
        width: 90%;
        padding: 10px 0;
    }

    .conte h1{
        font-size: 32px;
        width: 90%;
    }

    .contenedor {
        width: 100%;
        padding: 10px 20px;
    }

    table, th, td {
        font-size: 17px;
    }

    .cssbuttons-io-button {
        width: 100%;
        font-size: 14px;
    }
}

@media (max-width: 768px) and (min-width: 577px) {
    body{
        background-color: darkmagenta;
    }
    .conte {
        margin-bottom: 10%;
        width: 95%;
        padding: 10px 20px;
    }

    .contenedor h1{
        font-size: 20px;
        width: 100%;
        padding: 10px 20px;
    }

    .cssbuttons-io-button {
        width: 100%;
        font-size: 14px;
    }
}

@media (max-width: 992px) and (min-width: 769px) {
    body{
        background-color: hotpink;
    }
    .conte {
        margin-bottom: 8%;
        width: 95%;
        padding: 10px 20px;
    }

    .contenedor {
        width: 100%;
        padding: 10px 20px;
    }

    table, th, td {
        font-size: 25px;
    }

    .cssbuttons-io-button {
        width: 100%;
        font-size: 14px;
    }
}

@media (max-width: 1200px) and (min-width: 993px) {
    body{
        background-color: indianred;
    }
    .conte {
        margin-bottom: 8%;
        width: 95%;
        padding: 10px 20px;
    }

    .contenedor {
        width: 100%;
        padding: 10px 20px;
    }

    table, th, td {
        font-size: 30px;
    }

    form {
        padding-left: 20%;
        padding-top: 5px;
    }

    .cssbuttons-io-button {
        width: 100%;
        font-size: 14px;
    }
}
