.conte {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 40px;
    background-color: #9c6644;
    border: 3px solid #724a32;
    border-radius: 20px;
}

.contenedor {
    background: transparent;
    backdrop-filter: blur;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 40px;
    border-radius: 20px;
}

.cont {
    background-color: #ddb892;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    padding: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    align-items: center;
    margin: 20px auto;
    font-size: 25px;
}

table, th, td:nth-child(2) {
    border-bottom: 5px solid #3e2307;
    padding: 5px;
    align-items: center;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

form{
    padding-left: 25%;
}
.cantidad {
    display: flex;
    justify-content: center;
    align-items: center;
} 
.cantidad-button {
    background-color: #ddb892;
    width: 30px;
    height: 30px;
    padding: 2px;
    max-width: 30px;
    max-height: 30px;
    border-bottom: 2px solid #3e2307;
    border-top: 2px solid #3e2307;
    border-left: 2px solid #3e2307;
} 
.cantidad-button2 {
    background-color: #ddb892;
    width: 30px;
    height: 30px;
    padding: 2px;
    max-width: 30px;
    max-height: 30px;
    border-bottom: 2px solid #3e2307;
    border-top: 2px solid #3e2307;
    border-right: 2px solid #3e2307;
} 

.cantidad-input {
    background-color: #ddb892;
    max-width: 60px;
    text-align: center;
    font-size: 16px;
    color: #694731;
    border-top: 2px solid #3e2307;
    border-bottom: 2px solid #3e2307;
}
.cantidad-button  svg {
    color: #9c6644;
}
.cantidad-button2  svg {
    color: #9c6644;
}
.cantidad-svg {
    color: #9c6644;
}

.cssbuttons-io-button {
    align-items: center;
    font-family: inherit;
    font-weight: 600;
    font-size: 12px;
    padding: 0.7em 1.4em 0.7em 1.1em;
    color: white;
    background: #824e32;
    border: none;
    letter-spacing: 0.05em;
    border-radius: 20em;
}

.cssbuttons-io-button svg {
    margin-right: 6px;
}

.cssbuttons-io-button:hover {
    box-shadow: 0 0.5em 1.5em -0.5em #3e2307;
}

.cssbuttons-io-button:active {
    box-shadow: 0 0.3em 1em -0.5em #3e2307;
}

/*   */
@media (max-width: 576px)  { /* sm */
    body { background-color: rgb(140, 0, 255);}
    img {
        width: 19%;
        padding-right: 10px;
    }

    .conte {
        margin-bottom: 10%;
        width: 95%;
        padding: 10px 10px;
    }

    .contenedor {
        width: 100%;
        padding: 10px 20px;
    }

    table {
        width: 100%;
        border-bottom: 5px solid #3e2307;
        padding: 5px;
        align-items: center;
        font-size: 17px;
    }

    td{
        align-items: center;
    }

    form{
        padding-left: 1%;
    }

    .cssbuttons-io-button {
        width: 100%; /* Full-width buttons on small screens */
        font-size: 14px;
    }
}
@media (max-width: 768px) and (min-width: 577px){/* md */
    body { background-color: rgb(255, 34, 0);}
    img {
        width: 10%;
        padding-right: 10px;
    }
    form{
        padding-left: 5%;
    }
    .conte {
        margin-bottom: 10%;
        width: 95%;
        padding: 10px 20px;
    }

    .contenedor {
        overflow-x: auto;
    }
    .cantidad-button, .cantidad-button2, .cantidad-input {
        width: 20px;
        height: 20px;
        font-size: 14px;
    }
    table td:nth-child(2){
        width: 25%;
    }

    table {
        width: 100%;
        font-size: 18px;
    }

    .cssbuttons-io-button {
        width: 100%; /* Full-width buttons on small screens */
        font-size: 14px;
    }
}
@media (max-width: 992px) and (min-width: 769px){  /* lg */
    body { background-color: rgb(255, 0, 179);}
    img {
        width: 12%;
        padding-right: 15px;
    }

    .conte {
        margin-bottom: 8%;
        width: 95%;
        padding: 10px 20px;
    }

    .contenedor {
        width: 100%;
        padding: 10px 20px;
    }

    table {
        width: 100%;
        border-bottom: 5px solid #3e2307;
        padding: 5px;
        align-items: center;
        font-size: 25px;
    }
    form{
        padding-left: 6%;
    }
    .cssbuttons-io-button {
        width: 100%; /* Full-width buttons on small screens */
        font-size: 14px;
    }
}
@media (max-width: 1200px) and (min-width: 993px) {  /* xl */
    body { background-color: aqua;}
    img {
        width: 12%;
        padding-right: 15px;
    }

    .conte {
        margin-bottom: 8%;
        width: 95%;
        padding: 10px 20px;
    }

    .contenedor {
        width: 100%;
        padding: 10px 20px;
    }

    table {
        padding: 5px;
        align-items: center;
        width: 75%; /* Cambia el ancho de la tabla al 75% en pantallas grandes */
        font-size: 28px; /* Ajusta el tamaño de la fuente */
        
    }
    form{
        padding-left: 20%;
        padding-top: 5px;
    }
    .cssbuttons-io-button {
        width: 100%; /* Full-width buttons on small screens */
        font-size: 14px;
    }
}