.ApartadoPedidos {
    background-color: #9c6644;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}
.ApartadoPedidos a {
    color: #ddb892;
    font-size: 30px;
}
.Pedidos {
    width: 70%;
}
.tabla {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 30px;
}
.pedido {
    background-color: #9c6644;
    color: #ddb892;
    padding: 15px;
    padding-bottom: 30px;
    border-radius: 15px;
}
.pedido a, .pedido button, .Cancelar{
    background-color: #ddb892;
    color: #30231b;
    border-radius: 15px;
    font-size: 25px;
    padding: 10px;
    border: none;
    font-weight: normal;
    margin-right: 20px;
    margin-top: 10px;
}
.modal-header {
    background-color: #b48263;
    border: none;
}
.modal-body {
    display: flex;
    flex-direction: column;
    background-color: #9c6644;
    color: #ddb892;
}
.pedido select {
    background-color: #ddb892;
    color: #30231b;
    border-radius: 15px;
    font-size: 25px;
    padding: 5px;
    border: none;
}
.pedido b {
    font-size: 35px;
    color: #f7d6b5;
}
.pedido h3 {
    font-size: 28px;
}
.detalle {
    padding: 100px;
}
.modal-header h1 {
    color: #493c2f;
}
.info {
    display: grid;
    grid-template-columns: 2fr 0.4fr 1fr;
    text-align: center;
}
.info h3 {
    border-bottom: solid 3px #ddb892;
    padding: 10px 40px;
}
.info h2 {
    border-bottom: solid 3px #ddb892;
    padding-bottom: 10px;
}
.ModalDetalles {
    max-width: 80%; 
}

.modal-content {
    width: 100%; 
    height: auto; 
}

.OpcionesPedidos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #9c6644;
    color: #ddb892;
    border-radius: 15px;
    margin-left: 40px;
    position: sticky;
    top: 170px;
}
.Titulo {
    background-color: #9c6644;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ddb892;
    width: 60%;
    padding: 20px 0;
    margin-bottom: 30px;
    flex-direction: column;
}
.Titulo h1 {
    border-bottom: solid 3px #ddb892;
    width: 90%;
    text-align: center;
    padding-bottom: 10px;
}
.OpcionesFiltro {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}
hr {
    padding: 2px;
    border-radius: 15px;
}
.Tiendas {
    background-color: #9c6644;
    color:#ddb892;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}
.Tiendas .TituloTienda {
    margin-bottom: 20px;
    font-size: 60px;
    border-bottom: solid 3px #ddb892;
    width: 95%;
    padding-bottom: 15px;
}
.Tienda {
    display: grid;
    grid-template-columns: 1.7fr 1fr 1fr;
    border-bottom: solid 3px #ddb892;
    width: 95%;
}
.Tienda h3 {
    font-size: 40px;
    display: flex;
    justify-content: start;
    margin-left: 40px;
    align-items: center;
}
.Tienda button, .Tienda a {
    font-size: 25px;
    background-color: #ddb892;
    color: #30231b;
    border: none;
    border-radius: 15px;
    font-weight: normal;
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.TituloPedidosTienda {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 62.9%;
    background-color: #9c6644;
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 10px 30px;
}
.TituloPedidosTienda svg, .TituloPedidosTienda{
    color: #ddb892;
}
.SinPedidos {
    background-color: #9c6644;
    color: #ddb892;
    font-size: 40px;
    padding: 20px;
    border-radius: 15px;
}
.OpcionesAcomodadas {
    padding: 30px;
}
.Contenedor {
    display: flex; 
    width: 100%; 
    justify-content: center;
}
.seleccionado {
    color: #30231b !important;
}

.paginacion {
    display: flex;
    justify-content: center;
    align-items: center;
}

.paginacion button {
    padding: 6px 15px;
    font-size: 25px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #9c6644;
    background-color: #ddb892;
}

.paginacion .activo {
    background-color: #493c2f;
    color: #ddb892;
}

@media (max-width: 576px) {  /* sm */
    body {
        /* background-color: red; */
    }
    .SinPedidos {
        border-radius: 0;
    }
    .ApartadoPedidos a {
        font-size: 25px;
    }
    .Titulo{
        width: 90%;
    }
    .Pedidos {
        width: 100%;
    }
    .pedido {
        border-radius: 0;
    }
    .pedido select {
        font-size: 20px;
        width: 90%;
    }
    .Tienda {
        display: flex;
        flex-direction: column;
        width: 100%;
        border-radius: 0;
    }
    .Tiendas {
        width: 100%;
        border-radius: 0;
    }
    .tabla {
        display: flex;
        flex-direction: column;
    }
    .ModalDetalles {
        max-width: 100%; 
    }
    .Contenedor {
        flex-direction: column-reverse;
        align-items: center;
    }
    .ContenedorOpciones {
        width: 100%;
    }
    .OpcionesPedidos {
        width: 100%;
        margin-left: 0;
        border-radius: 0;
        margin-bottom: 30px;
    }
    .OpcionesAcomodadas {
        display: grid;
        grid-template-columns: 1fr 0.01fr 1fr;
        width: 100%;
    }
    .OpcionesAcomodadas hr {
        padding: 115px 2px;
        margin: 0 30px;
    }
    .moverDerecha {
        display: flex;
        align-items: end;
    }
}
@media (max-width: 768px) and (min-width: 577px){  /* md */
    body {
        /* background-color: orange; */
    }
    .Titulo{
        width: 90%;
    }
    .Tienda {
        display: flex;
        flex-direction: column;
    }
    .tabla {
        display: flex;
        flex-direction: column;
    }
    .Contenedor {
        flex-direction: column-reverse;
        align-items: center;
    }
    .ContenedorOpciones {
        width: 100%;
    }
    .OpcionesPedidos {
        width: 100%;
        margin-left: 0;
        border-radius: 0;
        margin-bottom: 30px;
    }
    .OpcionesAcomodadas {
        display: grid;
        grid-template-columns: 1fr 0.01fr 1fr;
        width: 100%;
    }
    .OpcionesAcomodadas hr {
        padding: 115px 2px;
        margin: 0 30px;
    }
    .moverDerecha {
        display: flex;
        align-items: end;
    }
}
@media (max-width: 992px) and (min-width: 769px){  /* lg */
    body {
        /* background-color: yellow; */
    }
    .Tienda {
        display: flex;
        flex-direction: column;
    }
    .tabla {
        display: flex;
        flex-direction: column;
    }
    .Contenedor {
        flex-direction: column-reverse;
        align-items: center;
    }
    .ContenedorOpciones {
        width: 60%;
    }
    .OpcionesPedidos {
        width: 100%;
        margin-left: 0;
        border-radius: 15px;
        margin-bottom: 30px;
    }
    .OpcionesAcomodadas {
        display: grid;
        grid-template-columns: 1fr 0.01fr 1fr;
        width: 100%;
    }
    .OpcionesAcomodadas hr {
        padding: 115px 2px;
        margin: 0 30px;
    }
    .moverDerecha {
        display: flex;
        align-items: end;
    }
}
@media (max-width: 1200px) and (min-width: 993px) {  /* xl */
    body {
        /* background-color: greenyellow; */
    }
    .Pedidos {
        width: 100%;
    }
    .Contenedor {
        flex-direction: column-reverse;
        align-items: center;
    }
    .ContenedorOpciones {
        width: 60%;
    }
    .OpcionesPedidos {
        width: 100%;
        margin-left: 0;
        border-radius: 15px;
        margin-bottom: 30px;
    }
    .OpcionesAcomodadas {
        display: grid;
        grid-template-columns: 1fr 0.01fr 1fr;
        width: 100%;
    }
    .OpcionesAcomodadas hr {
        padding: 115px 2px;
        margin: 0 30px;
    }
    .moverDerecha {
        display: flex;
        align-items: end;
    }
}
@media (max-width: 1400px) and (min-width: 1201px){  /* xxl */
    .Pedidos {
        width: 100%;
    }
    .Contenedor {
        flex-direction: column-reverse;
        align-items: center;
    }
    .ContenedorOpciones {
        width: 60%;
    }
    .OpcionesPedidos {
        width: 100%;
        margin-left: 0;
        border-radius: 15px;
        margin-bottom: 30px;
    }
    .OpcionesAcomodadas {
        display: grid;
        grid-template-columns: 1fr 0.01fr 1fr;
        width: 100%;
    }
    .OpcionesAcomodadas hr {
        padding: 115px 2px;
        margin: 0 30px;
    }
    .moverDerecha {
        display: flex;
        align-items: end;
    }
}