img {
    width: 8.5%;
    height: auto;
}
.tabla {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 30px;
}

.pedido {
    background-color: #9c6644;
    color: #ddb892;
    padding: 15px;
    padding-bottom: 30px;
    border-radius: 15px;
}

.refe{
    background-color: #ddb892;
    border-radius: 15px;
    font-size: 20px;
    padding: 10px;
    border: none;
    font-weight: normal;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #000 !important; /* Reemplaza con el color deseado */
    text-decoration: none !important; /* Elimina la línea subrayada */

}
.pedido a, .pedido button, .Cancelar {
    background-color: #ddb892;
    color: #30231b;
    border-radius: 15px;
    font-size: 25px;
    padding: 10px;
    border: none;
    font-weight: normal;
    margin-right: 20px;
    margin-top: 10px;
}

.check {
    margin-left: 20px;
    width: 30px;
    height: 30px;
}

.modal-header {
    background-color: #b48263;
    border: none;
}

.modal-body {
    display: flex;
    flex-direction: column;
    background-color: #9c6644;
    color: #ddb892;
}

.pedido b {
    font-size: 35px;
    color: #f7d6b5;
}

.pedido h3 {
    font-size: 28px;
}

.detalle {
    padding: 100px;
}

.modal-header h1 {
    color: #493c2f;
}

.info {
    display: grid;
    grid-template-columns: 2fr 0.4fr 1fr;
    text-align: center;
}

.info h3 {
    border-bottom: solid 3px #ddb892;
    padding: 10px 40px;
}

.info h2 {
    border-bottom: solid 3px #ddb892;
    padding-bottom: 10px;
}

.ModalDetalles {
    max-width: 80%; 
}

.modal-content {
    width: 100%; 
    height: auto; 
}

.Titulo {
    background-color: #9c6644;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ddb892;
    width: 60%;
    padding: 20px 0;
    margin-bottom: 30px;
}

.Titulo h1 {
    border-bottom: solid 3px #ddb892;
    width: 90%;
    text-align: center;
    padding-bottom: 10px;
}

hr {
    padding: 2px;
    border-radius: 15px;
}

.Tiendas {
    background-color: #9c6644;
    color:#ddb892;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    width: 80%;
    margin: auto;
}

.Tiendas .TituloTienda {
    margin-bottom: 20px;
    font-size: 60px;
    border-bottom: solid 3px #ddb892;
    width: 95%;
    padding-bottom: 15px;
}

.Tienda {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: solid 3px #ddb892;
    width: 95%;
}

.Tienda h3 {
    font-size: 40px;
    display: flex;
    justify-content: start;
    margin-left: 40px;
    align-items: center;
}

.Tienda button, .Tienda a {
    font-size: 25px;
    background-color: #ddb892;
    color: #30231b;
    border: none;
    border-radius: 15px;
    font-weight: normal;
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.TituloPedidosTienda {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 62.9%;
    background-color: #9c6644;
    border-radius: 15px;
    margin:auto;
    padding: 10px 30px;
    margin-bottom: 20px;
}

.TituloPedidosTienda svg, .TituloPedidosTienda {
    color: #ddb892;
}

.SinPedidos {
    background-color: #9c6644;
    color: #ddb892;
    font-size: 40px;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Contenedor {
    display: flex; 
    width: 100%; 
    justify-content: center;
}
.conten {
    color: #ddb892;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
    flex-direction: column;
}
.conte {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 44px;
}
h1 {
    margin: 25px;
    text-align: center;
    border-bottom: 3px solid #ddb892;
    color: #ddb892;
    padding: auto;
}

/* Styles for pink squares */
.cuadrado2 {
    width: 180px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

/* Main container styles */
.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: #9c6644;
    border: 3px solid #724a32;
    border-radius: 20px;
}

.cont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    padding: auto;
}

.contee {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 5px;
}

.contebut {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    width: 85%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 40px;
    background-color: #9c6644;
    border: 3px solid #724a32;
    border-radius: 44px;
}

/* Form styles */
.contenedoruno {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 20px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 5px;
}

.cuadrooo {
    width: 200px;
    height: 200px;
    background-color: #aaa;
    margin: 20px;
}

.dentro1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
    row-gap: 20px;
    width: 100%;
}

.solo {
    width: 45%;
}

.contenedoruno input,
.contenedoruno select {
    background-color: #ddb892;
    border: 2px solid #724a32;
    color: #9c6644;
    border-radius: 15px;
    padding: 10px;
    font-size: 18px;
    width: 100%;
    box-sizing: border-box;
}

.contenedoruno label {
    text-align: center;
    color: #ddb892;
    font-weight: bold;
}

.conte  button{
    background-color: #5a3822;
    border:2px solid #5a3822;
    color: #ddb892;
    border-radius: 15px;
    padding: 10px;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    cursor: pointer;
}

.conte button:hover {
    background-color: #ddb892;
    color: #5a3822;
    font-size: 20px;
}

table {
    width: 50%;
    border-collapse: collapse;
    margin: 20px auto;
    border-bottom: 2px solid #5a3822;
}

table, th, td {
    border-bottom: 1px solid #5a3822; /* Ajustado para aplicar un borde a todas las celdas */
    padding: 10px;
    text-align: center;
}

th {
    background-color: #724a32;
    color: #ddb892;
}

tbody {
    background-color: #b68769;
    color: #5a3822;
    font-size: 100%;
    font-style:oblique;
}

/* Responsive design */
@media (max-width: 576px)  { /* sm */
    img {
        width: 23%;
        padding-right: 10px;
    }

    .tabla {
        grid-template-columns: 1fr;
        width: 100%;
    }

    .TituloPedidosTienda {
        width: 100%;
        text-align: center;
    }

    .OpcionesPedidos {
        margin-left: 0;
        width: 100%;
    }

    .Tiendas .TituloTienda {
        font-size: 40px;
        width: 100%;
    }

    .Tienda {
        grid-template-columns: 1fr;
    }

    .Tienda h3 {
        font-size: 24px;
        margin-left: 10px;
    }

    .Tienda button, .Tienda a {
        font-size: 18px;
        margin: 10px;
        padding: 10px;
    }

    .pedido h3, .pedido b {
        font-size: 20px;
    }


    .pedido button, .pedido a {
        font-size: 16px;
        padding: 5px;
    }

    .Titulo h1 {
        font-size: 24px;
    }

    .info {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .Tiendas .TituloTienda{
        font-size: 20px;
    }
    .ModalDetalles {
        max-width: 95%; 
    }

    .conte{
        padding-top: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .contenedor{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 10px 20px;
    }

    .contenedoruno {
        flex-direction: column;
    }

    .solo {
        width: 97%;
        margin-bottom: 20px;
    }

    .dentro1 {
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 768px) and (min-width: 577px){/* md */
    img {
        width: 13%;
        padding-right: 10px;
    }
    
    .TituloPedidosTienda {
    width: 100%;
    text-align: center;
}
.pedido h3, .pedido b {
    font-size: 20px;
}


.pedido button, .pedido a {
    font-size: 16px;
    padding: 5px;
}

    .conte{
        padding-top: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .contenedor{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 10px 20px;
    }

    .contenedoruno {
        flex-direction: column;
    }

    .solo {
        width: 97%;
        margin-bottom: 20px;
    }

    .dentro1 {
        display: flex;
        flex-direction: column;
    }
    .contenedoruno {
        flex-direction: column;
    }

    .solo {
        width: 97%;
        margin-bottom: 20px;
    }
}
@media (max-width: 992px) and (min-width: 769px){  /* lg */
    img {
        width: 14%;
        padding-right: 15px;
    }

    .tabla {
        grid-template-columns: 1fr;
    }

    .TituloPedidosTienda {
        width: 100%;
        text-align: center;
    }

    .OpcionesPedidos {
        margin-left: 0;
        width: 100%;
    }

    .pedido h3 {
        font-size: 24px;
    }

    .pedido button, .pedido a {
        font-size: 20px;
        padding: 8px;
    }

    .Titulo h1 {
        font-size: 28px;
    }

    .conte{
        padding-top: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .contenedor{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 10px 20px;
    }
    .contenedoruno {
        flex-direction: column;
    }

    .solo {
        width: 97%;
        margin-bottom: 20px;
    }
}
@media (max-width: 1200px) and (min-width: 993px) {  /* xl */
    img {
        width: 10%;
        padding-right: 13px;
    }

    .TituloPedidosTienda {
        width: 100%;
        text-align: center;
    }

    .conte{
        padding-top: 7%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .contenedor{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 10px 20px;
    }

    .contenedoruno {
        flex-direction: column;
        font-size: 30px;
        padding: auto;
    }

    .solo {
        width: 97%;
        margin-bottom: 20px;
    }

    .dentro1 {
        display: flex;
        flex-direction: column;
    }
    .contenedoruno {
        flex-direction: column;
    }

    .solo {
        width: 97%;
        margin-bottom: 20px;
    }
}
@media (max-width: 1400px) and (min-width: 1201px){  /* xxl */

    .TituloPedidosTienda {
        width: 100%;
        text-align: center;
    }
    
}