footer {
    height: 400px;
    background-color: #724a32;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ddb892;
    font-size: 35px;
    flex-direction: column;
}
footer div{
    width: 20%;
    display: flex;
    justify-content: space-between;
}
.inicio{
    background-image: url(../img/inicio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    height: 800px;
    margin-top: 90px;
    border-top: solid 5px #724a32;
    border-bottom: solid 5px #724a32;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inicio div{
    position: absolute;
    background-color: #9c6644;
    border-bottom: solid 5px #724a32;
    border-top: solid 5px #724a32;
    height: 200px;
    width: 100%;
}
.inicio img{
    z-index: 2;
    background-color: #ddb892;
    border: solid 5px #724a32;
    border-radius: 100%;
    width: 30%;
}

.ProductosDestacados {
    width: 80%;
    margin: 100px auto;
    padding: 60px 0;
    display: flex;
    background-color: #9c6644;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}
.ProductosDestacados h1 {
    font-size: 50px;
    text-align: center;
    width: 90%;
    color: #ddb892;
    border-bottom: solid 3px #ddb892;
    padding-bottom: 10px;
    margin-bottom: 50px;
}

#carouselExampleCaptions {
    width: 80%;
    margin: 0 auto; 
    height: 500px;
}
.carousel-inner img {
    width: 80%;
    height: 500px; 
    object-fit:contain;
}

.carousel-inner {
    background-color: #724a32;
    height: 500px;
    border-radius: 15px;
}

.TodoLosProductos {
    margin: 150px auto;
    background-color: #9c6644;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 93%;
}

.TodoLosProductos .BarraBusqueda {
    display: flex;
    background-color: white;
    border-radius: 50px;
    width: 40%;
    height: 50px;
    margin: 50px 0;
    margin-bottom: 30px;
}
.TodoLosProductos .BarraBusqueda button {
    background-color: transparent;
    width: 10%;
    border: none;
}
.TodoLosProductos .BarraBusqueda button svg {
    color: black;
}
.TodoLosProductos .BarraBusqueda input {
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
}
.TodoLosProductos .Categorias {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.TodoLosProductos .Categorias h1 {
    color: #ddb892;
    font-size: 50px;
    text-align: center;
    width: 90%;
    margin-bottom: 20px;
}
.TodoLosProductos .Categorias .Contenido {
    padding: 20px 0;
    border-top: solid 3px #ddb892;
    border-bottom: solid 3px #ddb892;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
    width: 90%;
}
.TodoLosProductos .Categorias .Contenido a {
    color: #ddb892;
    font-size: 35px;
    margin: 0 50px;
}
.TodoLosProductos .Productos {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 40px;
    column-gap: 50px;
    margin-top: 40px;
}
.TodoLosProductos .Productos .Producto {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;          
    border-radius: 15px; 
    transition: transform 0.5s ease;
}
.TodoLosProductos .Productos .Producto img {
    border-radius: 15px;
    width: 100%; 
    transition: all 0.5s ease; 
    object-fit: cover;
    display: block;
}
.TodoLosProductos .Productos .Producto .sombra {
    opacity: 0;
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    color: white;
    transition: opacity 0.5s;
}
.TodoLosProductos .Productos .Producto:hover img {
    transform: scale(1.2);
    filter: brightness(50%);
}
.TodoLosProductos .Productos .Producto:hover {
    transform: scale(1.05);
}
.TodoLosProductos .Productos .Producto:hover .sombra {
    opacity: 1;
}
.TodoLosProductos .Productos .Producto .sombra h1 {
    margin: 20px;
}
.TodoLosProductos .Productos .Producto .sombra div {
    margin-left: 20px;
}

.TodoLosProductos .paginacion {
    display: flex;
    margin: 50px 0;
}
.TodoLosProductos .paginacion div a {
    padding: 15px;
    background-color: #81563b;
    color: #ddb892;
}
.seleccionado {
    color: #30231b !important;
}

/* Personalizar la barra de desplazamiento */
::-webkit-scrollbar {
    width: 15px;
    height: 10px;
}

    /* Fondo de la barra de desplazamiento */
::-webkit-scrollbar-track {
    background: #724a32;
}

    /* Barra de desplazamiento */
::-webkit-scrollbar-thumb {
    background: #ddb892;
    border-radius: 10px;
    border: 2px solid #ddb892; /* Para crear un espacio entre la barra y el borde */
}

    /* Barra de desplazamiento al pasar el mouse */
::-webkit-scrollbar-thumb:hover {
    background: #ddb892;
}

@media (max-width: 438px) {  /* sm */
    body {
        background-color: red !important;
    }
    .inicio img {
        width: 40%;
    }
    .inicio div {
        height: 100px;
    }
    .login-registro {
        display: flex;
        flex-direction: column;
    }
    .login-registro a {
        margin: 6px !important;
    }
    .TodoLosProductos .Productos {
        grid-template-columns: repeat(1, 1fr);
    }
    .TodoLosProductos .BarraBusqueda {
        width: 95%;
    }
}
@media (max-width: 577px) and (min-width: 439px) {
    .inicio img {
        width: 40%;
    }
    .inicio div {
        height: 100px;
    }
    .TodoLosProductos .Productos {
        grid-template-columns: repeat(1, 1fr);
    }
    .TodoLosProductos .BarraBusqueda {
        width: 95%;
    }
}
@media (max-width: 768px) and (min-width: 577px){  /* md */
    body {
        background-color: orange !important;
    }
    .inicio img {
        width: 40%;
    }
    .inicio div {
        height: 150px;
    }
    .TodoLosProductos .Productos {
        grid-template-columns: repeat(2, 1fr);
    }
    .TodoLosProductos .BarraBusqueda {
        width: 70%;
    }
}
@media (max-width: 992px) and (min-width: 769px){  /* lg */
    body {
        background-color: yellow !important;
    }
    .inicio img {
        width: 40%;
    }
    .TodoLosProductos .Productos {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 1200px) and (min-width: 993px) {  /* xl */
    body {
        background-color: greenyellow !important;
    }
    .inicio img {
        width: 40%;
    }
    .TodoLosProductos .Productos {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 1400px) and (min-width: 1201px) {  /* xxl */
    body {
        background-color: green !important;
    }
    .inicio img {
        width: 40%;
    }
    .TodoLosProductos .Productos {
        grid-template-columns: repeat(3, 1fr);
    }
}