.contenedor {
    color: #ddb892;
    background-color: #9c6644;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-direction: column;
    border-radius: 15px;
    width: 40%;
    margin-top: 0px;
}

.contenedor a {
    border-radius: 15px;
    padding: 10px;
    color: #9c6644;
    background-color: #ddb892;
    border: #ddb892;
}

.div7{
    background-color:#e7d2bc;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
    border-radius: 10px;
   }
   .div7 a{
    width: 100%;
    display: flex;
    justify-content: center;
   }

   .tarjeta2{
    width: 20%;
    height: 10%;
    margin-right: 0px;
  }

.titulo5 {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;

}
input[type="file"]{
    display: none;
}
img {
    width: 250px;
    height: 135px;
}

/* Responsivo para pantallas más pequeñas */
@media (max-width: 768px) {
    

    h1{
        font-size: 40px;
        padding-top: 10px;
    }

    .div7{
        background-color:#e7d2bc;
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 20px;
        border-radius: 10px;
    }
    .div7 a{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .titulo5{
        display: flex;
        flex-direction: column;
        width: 90%;
        align-items: center;
    }

    .conte,
    .contenedor,
    .contebut {
        width: 90%;
        padding: 15px 30px;
    }

    .contenedor {
        width: 80%;
    }

    .tarjeta2{
        width: 20%;
        height: 10%;
        margin-right: 0px;
    }

    input, table button {
        width: 80px;
        padding: 4px;
    }
}

@media (max-width: 576px)  {
    img{
        width: 80%;
    }
    .div7{
        background-color:#e7d2bc;
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 20px;
        border-radius: 10px;
       }
       .div7 a{
        width: 100%;
        display: flex;
        justify-content: center;
       }

       .titulo5{
        display: flex;
        flex-direction: column;
        width: 90%;
        align-items: center;
       }
       .tarjeta2{
        width: 20%;
        height: 10%;
        margin-right: 0px;
      }
}

@media (max-width: 992px) and (min-width: 769px){
    .div7{
        background-color:#e7d2bc;
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 20px;
        border-radius: 10px;
       }
       .div7 a{
        width: 100%;
        display: flex;
        justify-content: center;
       }

       .titulo5{
        display: flex;
        flex-direction: column;
        width: 90%;
        align-items: center;
       }
}

@media (max-width: 1200px) and (min-width: 993px){
    .div7{
        background-color:#e7d2bc;
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 20px;
        border-radius: 10px;
       }
       .div7 a{
        width: 100%;
        display: flex;
        justify-content: center;
       }
       .titulo5{
        display: flex;
        flex-direction: column;
        width: 90%;
        align-items: center;
       }
}
@media (max-width: 1400px) and (min-width: 1201px){
    .div7{
        background-color:#e7d2bc;
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 20px;
        border-radius: 10px;
    }
    .div7 a{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .titulo5{
        display: flex;
        flex-direction: column;
        width: 90%;
        align-items: center;
       }
}

@media (max-width: 480px) {
    

    h1{
        font-size: 20px;
        padding-top: 10px;
    }

    .conte,
    .contenedor,
    .contebut {
        width: 900%;
        padding: 10px 20px;
    }

    .contenedor {
        width: 80%;
    }

    .tarjeta {
        width: 20%;
        height: 10%;
        padding-left: 20px;
    }

    .titulo5{
        display: flex;
        flex-direction: column;
        width: 90%;
        align-items: center;
       }

    table input, table button {
        width: 60px;
        padding: 3px;
    }
}