

.contenedor {
    color: #ddb892;
    background-color: #9c6644;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-direction: column;
    border-radius: 15px;
    width: 90%;
    max-width: 800px;
    margin-top: 30px;
    padding: 20px;
}

.botonesA {
    border-radius: 15px;
    padding: 10px;
    color: #9c6644;
    background-color: #ddb892;
    border: #ddb892;
    text-decoration: none;
    font-size:25px;
}

.div {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.titulo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0 20px 0;
}

.direccion {
    resize: none;
    width: 100%;
}

.inputs {
    background-color: #ddb892;
    border: none;
    color: #9c6644;
    border-radius: 15px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.check{
    margin-left: 20px;
    width: 30px;
    height: 30px;
}

.icono{
    margin-right: 20px;
}

h3 {
    width: 100%;
    text-align: left;
    margin-bottom: 5px;
}
hr{
    height: 5px;
    background-color: #ddb892;
}
.ModalDetalles {
    max-width: 30%; 
}
.modal-content {
    width: 100%; 
    height: auto; 
}
.modal-body {
    display: flex;
    justify-content: center;
    background-color: #9c6644;
    color: #ddb892;
    flex-direction: column;
}
.modal-body button{
    width: 100%;
    height: 40px;
    background-color: #ddb892;
    border: none;
    border-radius: 15px;
    color: #30231b;
}
.modal-body p {
    font-size: 30px;
}
.modal-header {
    background-color: #b48263;
    border: none; 
}
.modal-header h1 {
    color: #493c2f;
}

@media (max-width: 576px) {  /* sm */
    .ModalDetalles {
        max-width: 95%; 
    }
 
  .tiende{
    width: 100%;

    
    
    
}
    
}


@media (max-width: 768px) and (min-width: 577px) {  /* md */
   
.tiende{
    width: 100%;
    
}

}



